* {
  margin: 0;
}
.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}

h1 {
  z-index: 10;
  opacity: 1;
}

.container {
  display: flex;
  flex: 1;
  background-color: #5ac8fa;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

#calculator {
  display: flex;
  flex-direction: column;
  background-color: #e8e9eb;
  height: 80%;
  aspect-ratio: 3/5;
  align-items: center;
  border-radius: 35px;
}
#display {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-end;
  padding-bottom: 2%;
  padding-right: 2%;
  font-size: 8vh;
  width: 90%;
  height: 40%;
  background-color: #e8e9eb;
  margin: 5%;
  /* border: 2px solid black; */
}

#numpad {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  margin-bottom: 5%;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  height: 100%;
}

.button {
  display: flex;
  cursor: pointer;
  height: 90%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  background-color: #cccdc6;
  transition: border-radius 0.3s ease-in;
}
.button:hover {
  border-radius: 40%;
}

#zero {
  width: 45%;
  aspect-ratio: 10/1;
  border-radius: 25px;
}
#decimal {
  background-color: white;
}

.button.number {
  background-color: white;
}

.button.operator {
  background-color: #5ac8fa;
  color: white;
}

.screen {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100%;
  width: 100%;
  opacity: 1;
  border-radius: 20%;
  transition: background-color 1s;
}

.button .screen:active {
  background-color: rgba(255, 255, 255, 0.4);
}

.button.operator .screen:active {
  background-color: rgba(255, 255, 255, 0.6);
}

.button.number .screen:active {
  background-color: #e8e9eb;
  opacity: 0.6;
}
